@charset "utf-8";
 body {
    background: linear-gradient(to right, #a9c9d1, #155e6b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

 }  

 @media screen and (max-width: 750px) {
   canvas {
    width: 100vw;
    height: 100vw;
    max-width: 100vw;
    max-height: 100vw;
   } 
   p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    line-break: anywhere;
   }
 }

 @media screen and (max-width: 400px) {
    canvas {
     width: 95vw;
     height: 95vw;
     max-width: 100vw;
     max-height: 100vw;
    }   
 }

 @media screen and (max-width: 300px) {
    canvas {
     width: 95vw;
     height: 95vw;
     max-width: 100vw;
     max-height: 100vw;
    }

 }

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
}

canvas {
   display: block;
   max-width: 100vw;
   max-height: 100vh;
}

p {
   text-align: center;
   margin: 1em 0;
}
 p {
    font-family: "Orbitron", sans-serif;
    display: flex;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    
 }